<!-- myapp/templates/index.about -->

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<title>Lesson C</title>
	</head>
	<body>
		<div class="text-center">
			<h1 style="color:royalblue">Lesson C</h1>
		</div>
		<br>
		<div class="container-fluid"></div>
		<div class="row justify-content-center">

		</div>

		<br><div class="row justify-content-center">
			{% block content %}
			{% endblock content %}
			<nav aria-label="Page navigation example">
				<ul class="pagination">
					<li class="page-item"><a class="page-link" href="{% url 'lesson-b' %}">< previous</a></li>
					<li class="page-item"><a class="page-link" href="{% url 'lesson-plan' %}">Lesson Plan</a></li>
					<li class="page-item"><a class="page-link" href="#">Next ></a></li>
				</ul>
			</nav></div>
			</div>

			<script>
				$(document).ready(function(){
					// enable CSRF-ready AJAX calls block

					// end csrf-ready block
					var $myForm = $('#form2');
					var table= $('#table');
					$myForm.submit(function(event){
						event.preventDefault();
						var $formData = $(this).serialize();
						var $thisURL = $myForm.attr('data-url') || window.location.href
						$.ajax({
							method: "POST",
							url: $thisURL,
							data: $formData,
							//csrfmiddlewaretoken: '{{ csrf_token }}',
							success: handleFormSuccess,
							error: handleFormError,
						})
					})	
					function handleFormSuccess(data, textStatus, jqXHR){
						console.log("HandleFormSuccess");
						console.log(data);
						console.log(textStatus);
						console.log(jqXHR);

						obj = JSON.parse(data.example_list);
						for (x in obj){
							console.log(x);
							console.log(obj[x].st_no);;
							console.log(obj[x].name);
							console.log(obj[x].age);
						}
						$('#table').html('');
						var html = '<table border="1"><thead><tr><th>st_no</th><th>name</th><th>age</th></tr></thead><tbody>';
						for (x in obj){
							var st_no, name, age;
							st_no = obj[x].st_no;
							name = obj[x].name;
							age = obj[x].age;
							html +=
								"<tr><td>"+ st_no +"</td>"+
								"<td>"+ name +"</td>"+
								"<td>"+ age +"</td></tr>";
						}
						html +=  '</tbody></table>';
						$('#table').html(html);

						var input = data.data.st_no;
						var reply = data.reply;
						console.log(reply);
						if(reply.toString() == "true") {
							$('#result').removeAttr('class');
							$('#result').addClass('alert alert-success').html("\'"+input+"\' is on the list.");
						}
						else {
							$('#result').removeAttr('class');
							$('#result').addClass('alert alert-danger').html("\'"+input+"\' is not on the list."); 
						}
					}
					function handleFormError(jqXHR, textStatus, errorThrown){
						console.log("HandleFormError");
						console.log(jqXHR);
						console.log(textStatus);
						console.log(errorThrown);;
					}
				})
			</script>

			<a href="{% url 'index' %}">Homepage</a>
			</div>
	</body>
</html>
