<!DOCTYPE html>

<html>
<head>
    <title>Lesson B</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="text-center">
        <h1 style="color:royalblue">Lesson B</h1>
    </div>
    <br>
    <div class="container-fluid"></div>
        <div class="row justify-content-center">
		<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSAQnF5z25FSVREE-C4YynTauJLjze--ov7YVRN8Zfe-XjU_hWGD-lfrq_XLA4Y0XOkgtoO-6gh-Jna/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div>
    
    <br><div class="row justify-content-center">
	     <nav aria-label="Page navigation example">
		     <ul class="pagination">
			<li class="page-item"><a class="page-link" href="{% url 'lesson-a' %}">< previous</a></li>
			<li class="page-item"><a class="page-link" href="{% url 'lesson-plan' %}">Lesson Plan</a></li>
			<li class="page-item"><a class="page-link" href="{% url 'lesson-c' %}">Next ></a></li>
			</ul>
		</nav></div>
	</div>
</body>
</html>
