<!DOCTYPE html>
<html>
	<head>
		<title>main page</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	</head>
	<body>
		<div class="container" style="text-align: center">
			<br><br>
			<h1>Privilege Abuse</h1>
			<br>
			<h2>What does it mean by Privilege Abuse?</h2>
			<p>If one abusees their privilege in terms of database security, that means someone, who has privilege(s) which are more than required to use the service on the given database, uses their privilege to access or manipulate other parts of databases other than they should have privileges on.. <br>For example, a user of a web service is advised to look up his/her product purchase history. But, if the user has privileges on every table in the database could make a situation where the user can read other people's purchase history as well. <br>This problem/attack can be prevented by granting appropriate privileges to each role. </p>
		</div>
	</body>
</html>

