<!DOCTYPE html>
<html>
	<head>
		<title>main page</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	</head>
	<body>
		<div class="container" style="text-align: center">
			<br><br>
			<h1>SQL Injection</h1>
			<br>
			<h2>What is SQL Injection?</h2>
			<p>SQL injection is inserting SQL statements into an input field in order to execute the statements and get access to the database contents against the entry's intended purpose.<br>This attack can be done when the form processes the raw inputs from the user input to retrieve data from the database. And can be prevented in a lot of ways.<br>
			PDO(PHP), ORM(Django), etc.</p>
		</div>
	</body>
</html>

