<!DOCTYPE html>
<html>
	<head>
		<title>main page</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	</head>
	<body>
		<div class="container" style="text-align: center">
			<br><br>
			<h1>Unencrypted Data Exposure</h1>
			<br>
			<h2>What happens if you don't enctypt confidential sensitive data?</h2>
			<p>Your confidential data can be exposed despite the effot for database security. Crackers will always try to steal information. In such a situation, well-enctypted dataset such as a list of the users' passwords could prevent further damage. <br><br>Commonly used solutions are using hash functions such as SHA.</p>
		</div>
	</body>
</html>

